#players {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* gap: 2rem; */
}
#players img {
	width: 12vh;
	height: 12vh;
	/* object-fit: contain; */
	padding: 1.5vh;
	/* border-radius: 50%; */
	background-color: #1a1a1a;
	position: relative;
	/* border: 2px solid #ffffff; */
}
#players .image {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	position: fixed;
	width: 13vh;
	height: 12.5vh;
	background: conic-gradient(#b3b3b3, #1a1a1a, #1a1a1a, #1a1a1a);
	animation: logorotation 2s;
	border-radius: 50%;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

@keyframes logorotation {
	0% {
		transform: rotate(720deg);
	}

	/* 50% {
		transform: rotate(180deg);
	} */

	100% {
		transform: rotate(0deg);
	}
}
