@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto Slab", sans-serif;
	line-height: 1.5;

	color: #ebe7ef;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #1a1a1a;
	max-height: 100vh;
	/* overflow: hidden; */
}

#pre-game {
	text-align: center;
}

#pre-game button {
	cursor: pointer;
	background: none;
	color: #f8c031;
	border: none;
	font-family: "Caprasimo", cursive;
	font-size: 4rem;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
	animation: pulse-text-size 2s infinite ease-out;
}

#game-over {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(40, 38, 23, 0.95);
	animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
	font-family: "Caprasimo", cursive;
	font-size: 4rem;
	text-align: center;
	color: #fcd256;
	margin: 0;
}

#game-over p {
	font-size: 2rem;
	text-align: center;
	color: #e1dec7;
}

#game-over button {
	display: block;
	margin: 0 auto;
	font-size: 1.5rem;
	background: none;
	border: 2px solid #fcd256;
	color: #fcd256;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s, color 0.2s;
	box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

#game-over button:hover {
	background: #fcd256;
	color: #3f3b00;
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

#log {
	max-width: 20rem;
	color: #3f3b00;
	list-style: none;
	margin: 2rem auto;
	padding: 0;
	text-align: center;
}

#log li {
	border-radius: 4px;
	animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1)
		forwards;
	margin: 0.75rem;
}

#log li.highlighted {
	background-color: #3f3b00;
	color: white;
}

#game-hints {
	text-align: center;
	color: #46432f;
}

#game-hints h2 {
	font-family: "Caprasimo", cursive;
	font-size: 2rem;
	margin: 0;
}

#game-hints ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#game-hints button {
	cursor: pointer;
	border: none;
	background: transparent;
	color: #23221f;
	font: inherit;
	margin-top: 1.5rem;
}

@keyframes slide-in-from-left {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	80% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes displayIn {
	0% {
		transform: scale(0);
	}
	80% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}
