#game-container {
	width: 95vw;
	max-width: 48rem;
	margin: 3vh auto;
	padding: 2rem;
	border-radius: 6px;
	background-color: #1a1a1a;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.671);
	position: relative;
	animation: displayIn 1s ease;
}
